<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>5</string>
	<key>shop_name</key>
	<string>麦乐滋蛋糕店（崇明岛路店）</string>
	<key>cover</key>
	<string>http://www.qd-life.com/static/upload/2015/04/09/info_20150409153830000000_1_92289_57.jpg</string>
	<key>address</key>
	<string>青岛市黄岛区崇明岛路41号</string>
	<key>lon</key>
	<string>120.170478</string>
	<key>lat</key>
	<string>35.970733</string>
	<key>intro</key>
	<string>一家特色烘焙连锁企业，主营业务类型：蛋糕、现烤面包、西点、休闲食品、咖啡、饮料等。采用新鲜优质原材料，按照现代人健康饮食理念的需求，不断创新，制作出味道甜美、新鲜精致的食品。</string>
	<key>phone</key>
	<string>0532-80632433</string>
	<key>server</key>
	<string>美食</string>
	<key>score</key>
	<string>4</string>
	<key>goods</key>
	<array>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>title</key>
			<string>麦乐滋蛋糕店（崇明岛路店）</string>
			<key>price</key>
			<string>66</string>
			<key>intro</key>
			<string>麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）</string>
		</dict>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>title</key>
			<string>麦乐滋蛋糕店（崇明岛路店）</string>
			<key>price</key>
			<string>43</string>
			<key>intro</key>
			<string>麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）麦乐滋蛋糕店（崇明岛路店）</string>
		</dict>
	</array>
	<key>comment_list</key>
	<array>
		<dict>
			<key>name</key>
			<string>用户A</string>
			<key>photo</key>
			<string>http://www.qd-life.com/static/upload/2015/11/17/small_14477475387400.jpg</string>
			<key>time</key>
			<string>2015-11-25</string>
			<key>comment</key>
			<string>看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错</string>
			<key>score</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>用户A</string>
			<key>photo</key>
			<string>http://www.qd-life.com/static/upload/2015/11/17/small_14477475387400.jpg</string>
			<key>time</key>
			<string>2015-11-25</string>
			<key>comment</key>
			<string>看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错看上去还不错</string>
			<key>score</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
